<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--AWS Tarafından Aldığımız Bilgileri Giriyoruz-->
    <add key="AWSProfileName" value="ProfileName" />
    <!--AWS Profil Adı-->
    <add key="AWSAccessKey" value="AccessKey" />
    <!--AWS Erişim Anahtarı-->
    <add key="AWSSecretKey" value="SecretKey" />
    <!--AWS Gizli Anahtarı-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>